

.cards-dash {
  background: white;
  border:coral solid 1px;
  border-radius: 5px;
  height: auto;
  padding: 10px;
  margin:10px;
}
.container-dash {
  display: grid;
  grid-template-columns: 1fr;

}
