<table>
  <tr>
    <th>Booking date</th>
    <th>Nom du visiteur</th>


  </tr>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.date %></td>
      <td><%= user.name " " user.surname %></td>
      <td><%= link_to 'Show', property %></td>

    </tr>
  <% end %>
</table>
