<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/cthonney/corail"><i class="fab fa-github-square"></i></a>
  </div>
  <div>
    <div class="footer-center footer-title">corail</div>
    <div class="footer-center">No more sales commissions </div>
  </div>
<div>
<div class="footer-center footer-title">Cédric, Rémi, Nikhil</div>
<div class="footer-center">Batch #653</div>
</div>
  <div class="footer-copyright">
    This project is made with  <i class="fas fa-pepper-hot"></i>  at Le Wagon
  </div>
</div>
