<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/cthonney/corail"><i class="fab fa-github-square"></i></a>
  </div>
  <div>
    <div class="footer-center footer-title">
    <%= image_tag "Corail_long-couleur.svg", alt: "Corail logo", style:"height:40px" %>
    </div>
    <div class="footer-center">No more sales commissions </div>
  </div>
<div>
<div class="footer-center footer-title">Cédric, Rémi, Nikhil</div>
<div class="footer-center">Batch #653</div>
</div>
  <div class="footer-copyright">
    <div class="footer-center">This project is made with &#160; <i class="fas fa-pepper-hot"></i>&#160;  at Le Wagon with with our teachers: </div>
    <div class="footer-center">Basile, Billy, Coline, Maelie, Niko, Federico, Thibaud, Brieuc, Ademola, Fabrice, Dushyant, Jean Paul, Simon, Jeanro  </div>
  </div>
</div>
