<div class="container-dashboard">
  <div class="container-welcome-4cards">
    <div class="container-welcome">
      <h1>Welcome <strong><%= current_user.surname %>,</strong></h1>
      <p>Bienvenue sur ton dashboard, retrouve ici toutes les informations nécessaires à la gestion de ta propriété en vente ou de ta future propriété.</p>
    </div>

    <div class="grid-container-4cards">
      <div class="grid-item"><h1><% current_user.properties.count %></h1><p> propert<%= if current_user.chat_rooms.count>1 ? "ies" : "y" %></p></div>
      <div class="grid-item"><h1><% current_user.slots.count %></h1><p> visits</p></div>
      <div class="grid-item"><h1><% current_user.slots.count %></h1><p> properties</p></div>
      <div class="grid-item"><h1><% current_user.slots.count %></h1><p> bookings</p></div>
    </div>
  </div>

  <div>
    Modal
  </div>
</div>
