
<div class="homepage-search-section">
  <h1 class="title-homepage">
    Find your dream house
    <br>
    without commission
  </h1>
  <%= link_to "Properties SHOW", properties_path %>

  <div class="map-container">
    <div id="map"
      style="width: 200; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
