.container-property {
  display: flex;
  flex-direction: column;
  align-items: center;
}


// ---------------------- Bar ajout property what are you waiting for

.container-background-image {
  background-image: url("mauritius.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 10px;
}


.property-new-bar {
  width: 70%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

#title-property {
  font-size: 30px;
}

.container-search-bar {
  width: 70%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.form-box {
  width: 40%;
  height: 52px;
  border-radius: 5px;
  border-color: $teal-green;
  border-style: solid;
  border-width: 3px
}

.button-small {
  height: 52px;
  width: 150px;
}

// --------- Cards container

.property-cards-container {
  background: white;
  width: 100%;
  padding: 20px;
}

.property-cards-photos {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
}


// ------------------------------------------------- Cards

.property-cards-container {
  background: transparent;
  width: 80%;
}

.cards {
  display: grid;
  grid-gap: 30px;
  justify-items: center;
}

.property-card {
  background: white;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
}

.property-cards-photos {
  width: 100%;
  max-width: 400px;
  max-height: 190px;
}

.property-card-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: space-between;
  height: 250px;
}

.property-card-type {
  background: $corail;
  border-radius: 5px;
  margin-bottom: 4px;
  text-align: center;
  margin-top: 10px;
}


.property-type-tag-villa {
  background-color: $villa;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 0px;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.property-type-tag-house {
  background-color: $house;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 0px;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.property-type-tag-bungalow {
  background-color: $bungalow;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 0px;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.property-type-tag-flat {
  background-color: $flat;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 0px;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.price-tag {
  background-color: rgba(211, 211, 211, 0.11);
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.location-tag {
   background-color: rgba(211, 211, 211, 0.11);
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
