.card-show {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 15px;

}

.card-info {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  display: flex;
  border-radius: 15px;

}

.card-photo img {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 10px;
}

.message-property {
  padding: 10px;
  margin: 20px;
  justify-content: center;


}

.container-show {

  padding: 10px;
  margin:auto;
  align-self: center;
  max-width: max-content;
  display: flex;

}

.card-photo {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 40px;
  display: flex;
  border-radius: 15px;
  align-content: center;
  justify-content: center;

}

.card-show p {
  height: 100%;
  max-width: fit-content;
}





