.card-show {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 10px;
  margin: 40px;
  display: flex;
}

.card-info {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  display: flex;
  width: 50%;
}

.card-show img {
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}
