.card-show {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  justify-content: space-around;
  flex: 1;
}


.message-property {
  padding: 10px;
  margin: 20px;
  justify-content: center;
}

.container-show {
  padding: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.card-map {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  display: flex;
  width: 50%;
  height: 200px;
  border-radius: 10px;
}

.card-slot {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: min-content;
  border-radius: 10px;
  justify-content: space-evenly;
}

.card-message {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  display: flex;
  max-width: max-content;
  border-radius: 10px;
  max-height: min-content;
}

.card-edit {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  display: flex;
  border-radius: 10px;
  max-height: min-content;
  justify-content: space-around;

}
