.boxchat {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom:10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  justify-content: space-around;
  flex: 1;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  background: whitesmoke;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.boxtext {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom:10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  justify-content: space-around;
  flex: 1;
}

.chat-sender{

  border-radius: 3px;
  padding: 5px;
  margin-bottom:5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  flex: 1;
}

.chat-time{

  border-radius: 3px;
  padding: 5px;
  margin-bottom:5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  flex: 1;
}

.chat-content{
  background: #f5f5f5;
  border-radius: 3px;
  padding: 5px;
  margin-bottom:5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  flex: 1;

}

.author{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // replace width:2000px with width:auto
  width: auto;
  border: 1px solid #e57f8460;
  border-radius: 8px;
  background: white;
}

.chatroom-title {
  font-size: 30px;
  align-items: center;
}
