.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  opacity: 0.55;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fas {
  color: $corail;
}

.footer .fab {
  color: $corail;
}

.footer-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-size: 18px;
  color: $corail;

}
