.navbar-lewagon {
  justify-content: space-between;
  background: $corailnav;
  position: sticky;
  width: 100%;
  //border-bottom: 5px solid $misty-blue;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  color: white;
  border: 1px solid white;
  padding-bottom: 30px;
  height: 25px;
  width: auto;
  font-size: medium;
  text-align: center;
}

.avatar {
  border: 3px solid white;
  width: 40px
}



.nav-link:hover {
  background-color:$corail;
  color: white;
}
