.navbar-lewagon {
  justify-content: space-between;
  background: $corail;
  position: sticky;
  width: 100%;
  //border-bottom: 5px solid $misty-blue;
  height: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
  font-size: 30px;
  font-family: Nunito;
}
