#button {
  display: flex;
}

.fa {
	color: rgba(128, 128, 128, 0.37);
}

.container {
  display: flex;
  padding: 10px;
  margin:auto;

}

#container {
  display: flex;
  padding: 10px;
  margin:auto;

}
